.container_ct1{
    margin: 20px 40px 20px 70px;
    display: flex;
}
.container_right{
    margin-right: 20px;
    /* width: 25%; */
}
.container_left{
    width: 77%;
}
.container_menu{
    overflow: hidden;
    border-radius: 20px;
    box-shadow:  10px 2px 5px rgba(0, 0, 0, 0.1)   ;
    flex-direction: column;
    min-width: 250px;
    width: 25%;
    border: 0.5px solid #b6a5a5;
    object-fit: contain;
    margin-bottom: 30px;
}
.container_menu h2{
    background-color: rgb(33, 255, 148);
    color: #fff;
    text-align: center;
    padding: 0px 8px 8px;
    font-size: 24px;
}
.container_menu a{
    text-decoration: none;
    color: #333;
    object-fit: contain;
}
.container_menu li{
    border-bottom: 0.5px solid grey;
    font-size: 20px;
    padding: 5px;
}
.container_menu li::before{
    content: url('img/arrow.png');
    color: #000000;
    margin-right: 15px; 
}
.container_menu a:hover{
    color: aqua ;
}
.container_left p{
    font-family: 'Times New Roman', serif;
    line-height: 1.5;
    font-size: 18px;
    color: #363636;
}
.Thongtin{
    display: flex;
    align-items: center;
    color: grey;
}
.Thongtin a{
    background-color: transparent;
    border: 0.5px solid transparent;
    font-size: 20px;
    margin-right: 10px;
    color: grey;
}
.nhap{
    display: flex;
}
.nhap input{
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border: 0.1px solid grey;
    border-radius: 3px;
    outline: none;
}
.list{
    line-height: 1.5;
    font-size: 18px;
}
.list a{
    text-decoration: none;
    color: #363636;
}
.list li{
    list-style-type: none;
}
.list li::before {  
    content: "";  
    display: inline-block;  
    width: 0;  
    height: 0;  
    border-top: 5px solid transparent;  
    border-left: 10px solid black;  
    border-bottom: 5px solid transparent;  
    margin-right: 10px;  
    border-radius: 4    px;
  }  
.list a:hover{
    color: #80BB35;
}
/* .Featurednews h2 span{
    color: #fff;
    background-color: #80bb35;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.Featurednews{
    margin: 30px 0 0 200px;
    list-style-type: none;
    margin: 35px 0 0 200px;
    width: 270px;
    border: 0.5px solid #ebdede;
    border-radius: 20px;
    
} */