*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
.header__topbar{
    display: flex;
    background-color:rgb(122, 250, 124);
    justify-content: space-between;
    padding: 10px;

    align-items: center;
}
.header__topbar--hotline{
    display: flex;
}
.header__topbar--hotline p{
    font-weight: 200;
    font-size: 15px;
    color: black;
    margin-left: 20px;
}
.header__topbar--hotline a{
    color: black;
    text-decoration: none;
}
.header__topbar--log-{
    display: flex;
    align-items: center
}
.header__topbar--log- button{
    background-color: transparent;
    border-color: transparent ;
    margin-right: 15px;
    font-size: 13px;
    font-weight: 300;
}
.header__topbar--log- img{
    width: 25px;
}
.header__container{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color:rgb(215, 255, 255);
    box-sizing: border-box;
}
#home{
    position: relative;
    top:40px;
    left: 40px;
    display: none;
}
#shoping_cart{
    height: 40px;
    width: 150px;
    background-color: rgb(255, 201, 24);
    border-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: relative;
    right: 10px;
    top: -20px;
    
}
@media (max-width:1200px) {
    #shoping_cart p{
        display: none;
    }
    #shoping_cart{
        background-color: rgb(215, 255, 255);
        width: 10px;
        right: 40px;
    }
}
#shoping_cart img{
    margin:0px 10px;
}
.header__container--service{
    display: flex;
    flex-grow: 1;
    margin-left: 20px;
}
@media (max-width:800px) {
    .header__container--service{
        display: none;
    }
    .header__topbar--log-{
        display: none;
    }
    #home{
        display: block;
    }
}
.container__child{
    margin-right: 30px;
    display: flex;
    align-items: center;
    }
.container__child a{
    font-size: 15px;
    font-weight: 600;
}
.container__child img{
    margin-right: 15px;
    max-width: 40px;
    height: auto;
}
.header__container--logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header__container--logo img{
    width: 200px;
    }
.list_menu{
    display: flex;
    flex-direction: column;
  }
  .list_menu a{
    color: black;
    text-decoration: none;
    padding-top: 10px;
  }
  .seach{
    border-radius: 10px;
    margin: 10px 5px 10px 10px;
    min-width: 200px;
    height: 35px;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-position: 170px;
    border: 0.5px solid transparent;
    padding-left: 10px;
    outline: none;
  }
  .list_menu a::after{
    content: ' \00a0\00a0\00a0\00a0    >';
    font-weight: bold;
    -webkit-text-stroke: 1px black;
  }
  .list_menu a:hover{
    color: aqua;
  }
  .menu_hidden{
    margin-top: 20px;
    background-color: antiquewhite;
    height: 100vh;
    width: 240px;
    position: fixed;
    left: 0;
    top:-20px;
    z-index: 100;
    display: none;
  }
  .menu_hidden strong{
   position: absolute;
   top :10px;
   right: 10px;
   font-size: 20px;
  }
  .login_hidden{
    display: flex;
    align-items: center;
    margin: 10px 10px;
  }
  .login_hidden img{
    width: 25px;
  }
  .login_hidden button{
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
    font-weight: 400;
  }
.header__container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
@media(max-width :1100px){
    .header__container{
        flex: 1 1 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .header__container--logo{
        margin-bottom: 10px;
        flex-basis: 100%;
        justify-content: center;
    }
    .header__container--service{
        flex-basis: calc(33.33% -10px);        /* display: flex; */
    }
    #shoping_cart{
        position: relative;
        top :-120px;
        right:60px;
    }
    #home{
        display: block;
    }
}
@media (max-width:800px) {
    #shoping_cart {
        position: absolute;
        z-index: 30;
        top:80px;
    }       
}
.header__container--logo p{
    font-size: 1.5rem;
    font-family:cursive ;
    font-weight: 900;
    margin-left: 30px;
}
.header__menubar {
    background-color: aquamarine;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menubar a{
    text-decoration: none;
    padding: 13px 25px;
    color: #585151;
    white-space: nowrap;
}
.header__menubar input{
    border-radius: 20px;
    height: 30px;
    min-width: 250px;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-position: 245px center;
    outline: none;  
    border-color: transparent;
    margin-right: 15px;
    padding-left: 25px;
}
@media (max-width :1000px) {
    .header__menubar{
        display: none;
    }
}
.header__menubar--link  :hover{
    color: black;
    background-color: #0ff64d;
    font-weight: 200;
}
.menu{
    width: 98%;
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    object-fit: contain;
    flex-grow: 1;
}
.menu__category{
    overflow: hidden;
    border-radius: 20px;
    box-shadow:  10px 2px 5px rgba(0, 0, 0, 0.1)   ;
    flex-direction: column;
    min-width: 250px;
    width: 25%;
    border: 0.5px solid #b6a5a5;
    object-fit: contain;
}
.menu__list{
    display: block;
}
.menu__category h2{
    background-color: rgb(33, 255, 148);
    color: #fff;
    text-align: center;
    padding: 0px 8px 8px;
    font-size: 24px;
}
.menu__banner{
    width: 66%;
    /*  */
}
.menu__list a{
    text-decoration: none;
    color: #333;
    object-fit: contain;
}
.menu__list li{
    border-bottom: 0.5px solid grey;
    font-size: 20px;
    padding: 5px;
}
.menu__list li::before{
    content: url('img/arrow.png');
    color: #000000;
    margin-right: 15px; 
}
.menu__list a:hover{
    color: aqua ;
}
.menu__banner img {
    box-sizing: 100px;
    border-radius: 10px;
    width: 100% ;
} 
@media (max-width :1000){
    /* .menu{
    }
    .menu__category{
        flex-basis: 80%;
    }
    .menu__banner{
        flex-basis: 100%;
    } */
}
.products{
    margin-top: 30px;
    margin-left: 35px;
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
}
.products ::-webkit-scrollbar{
    display: none;
}
.products img{
    width: 31%;
    height: auto;
    margin-right: 5px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 45px 10px 45px;
}
.content a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    margin-right: 15px;
}
.content a:hover{
    color: #0ff64d;
}
.content a:active{
    text-decoration: underline;
    text-decoration-thickness:3px ;
}
.content h3{
    background-color: #0ff64d;
    margin-left: 10px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    min-width: 175px;
    padding: 10px 20px;
}
.hidden-block{
    border: 0.5px solid grey;
    width: 35px;
    position: fixed;
    top:50%;
    left:0;
}
.hidden-block hr{
    border: 0.5 solid grey;
}
.dry-food{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    grid-auto-flow: column;
    overflow-x: auto;
    -ms-overflow-style: none;
   margin: 10px 20px;
   scroll-snap-type: x mandatory;
   scroll-padding: 5px;
}
.dry-food::-webkit-scrollbar {
     display: none;
  }
.dry-food__child{ 
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 0.2px solid grey;
    border-radius: 10px;
    overflow-x: hidden;
    overflow: visible;
    height: 200px;
    scroll-snap-align: center;  
}
.dry-food__child a{
    text-decoration: none;
    color: #000000;
}
.dry-food__child span{
    font-weight: 900;
    color: orange;
}
.dry-food__child img{
    width: 245px;
    height: 145px;
    border-radius: 10px;
}
.banner{
    width: 100%     ;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}
.banner img{
    width: 93%  ;
    object-fit: contain;
    margin: 10px 25px ;
}
.banner__item img{
    width: 46%;
    object-fit: contain;
    margin: 10px 35px ;    
}

.news h2{
    text-align: center;
}
.news a{
    text-align: center;
    padding: 5px 50px;
    background-color: #0ff64d;
    border-radius: 40px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
.news hr{
    border: solid;
    position: relative;
    margin: -15px 30px;
    z-index: -1;
    border-color:gold ;
}
.news p{
    position: relative;
    right: 50%;
    left: 35%;
    text-align: center;
    width: 30%;
}
.news__text{
    margin-top: 40px;
}
.inf{
    display: flex;
    justify-content: space-between;
    margin: 10px 35px 10px 20px;
    width: 100%;
}
.inf__1{
    display: flex;
    width: 32%;
    flex-direction: column;
    border:0.1px solid #dcdcdc;
    border-radius: 18px;
}
.inf__1 h4 {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}
.inf__1 p{
    margin: 10px 15px;
    text-align: center;
}
.inf__1 a{
    width: 30%;
    text-decoration: none;
    position: relative;
    right:50%;
    left:30%;
    margin: 10px 10px 10px 0px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #fff;
    background-color: #0ff64d;
    text-align: center;
}
.img{
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
    flex-wrap: nowrap;
  
}
.img img{
    margin-right:10px ;
    width: 165px;
    height: auto;
}
.footer{
    display: flex;
    margin-top: 15px;
    padding-left: 20px;
    background-color: #0ff64d;
    flex-wrap:wrap;
    padding-bottom: 50px;
}
.footer__item{
    display: flex;
    flex-direction: column;
    width: 250px;
    color: #fff;
    margin-right: 10px;
}
.footer__item h2{
    padding: 15px 0px;
}
.footer__item li{
    font-size: 18px;
}
.footer__item li:hover{
    color: orange;
}
.container {

    position: fixed;
    bottom: 60px;
    right: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 1300px;
    
}
@media (max-width: 480px) {
    .container {
        display: none;
    }
}
.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}
.circle4 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-color: #00aeef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.wave {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 2px solid rgba(72, 60, 180, 0.5);
    border-radius: 50%;
    animation: waveAnimation 3s infinite;
}
.wave:nth-child(2) {
    width: 80px;
    height: 80px;
    animation-delay: -0.5s;
}
.wave:nth-child(3) {
    width: 90px;
    height: 90px;
    animation-delay: -1s;
}
@keyframes waveAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
.circle1 { top: 50%; left: 50%; }
.circle2 { top: 50%; left: 50%; }
.circle3 { top: 50%; left: 50%; }
.container.active .circle1 { transform: translate(-50%, -80px); }
.container.active .circle2 { transform: translate(-50%, -120px); }
.container.active .circle3 { transform: translate(-50%, -160px); }
