
*{
    padding: 0px;
    margin: 0px;
}
html {
    scroll-behavior: smooth;  
}
body{
    overflow-x: hidden;
}
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 70px;
}
.Header a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
}
.content{
    display: flex;
    align-items: center;
}
.content__text{
    flex-direction: column;
    margin: 0px 80px;
    justify-content: space-between;
    height: 30vh;
}
.content__text p{
    margin-top: 0px;
}
.content__text button {
    padding: 12px;
    background: rgba(38, 57, 237, 1);
    color:  rgba(255, 255, 255, 1);
    border-radius: 25px;
    border: transparent;
}
.content__img{
    display: block;
    position: relative;
}
.content__img--1{
    z-index: 1;
}
.content__img--2{
    position: absolute;
    top :0;
    left:-60px;
    z-index: -1;
}
.content__img--3{
    position: absolute;
    right:0;
    bottom: -100px;
    z-index: -1;
}
.our-client{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}
.our-client__text {
    display: block;
    width: 300px;
}
.our-client__text strong{
    font-size: 24px;
}
.our-client__text p{
    margin-top: 20px;
} 
.our-client img{
    position: relative;
    margin-top: 75px;
    width: 150px;
}
.img1{
    bottom: -10px;
}
.box-sp{
    position: relative;
    margin-top: 290px;
    align-items: center;
}
.box-content{
    width: 35%;
    margin: 30px 20px;
    position:absolute;
}
.box-content img {
    rotate:180deg;
    position: relative;
}
.box-content strong{
    font-size: 40px;
    position: absolute;
    left:45px;
    top :70px
}
.box-content p {
    margin-left: 40px;
}
.box-service{
    position: relative;
}
.box p{
    padding-bottom: 10px;
}
.box-service-img{
    position: relative;
    right:-260px;
    top :-120px;
    z-index: -1;
}
.box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 5px gray;
}
.box p{
    text-overflow: ellipsis;
    overflow: hidden;
}
.box__1{
    width: 250px;
    max-height: 300px;
    box-shadow: grey;
    background-color: rgb(255, 255, 255);
    padding: 30px 15px;
    border-radius: 20px;
    position: absolute;
    top :-790px;
}
.box__1 strong {
    font-size: 30px;
    margin: 30px 0px;
}
.box__1 .box-logo {
    position: absolute;
    top:55px;
}
.box__2{
    width: 250px;
    max-height: 300px;
    box-shadow: grey;
    background-color: rgb(255, 255, 255);
    padding: 30px 15px;
    border-radius: 20px;
    position: absolute;
    top :-870px;
    right :170px
}
.box__2 strong {
    font-size: 30px;
    margin: 30px 0px;
}
.box__2 .box-logo {
    position: absolute;
    top:55px;
}
.box__3{
    width: 250px;
    max-height: 300px;
    box-shadow: grey;
    background-color: rgb(255, 255, 255);
    padding: 30px 15px;
    border-radius: 20px;
    position: absolute;
    top :-380px;
}
.box__3 strong {
    font-size: 30px;
    margin: 30px 0px;
}
.box__3 .box-logo {
    position: absolute;
    top:55px;
}
.box__4{
    width: 250px;
    max-height: 300px;
    box-shadow: grey;
    background-color: rgb(255, 255, 255);
    padding: 30px 15px;
    border-radius: 20px;
    position: absolute;
    top :-456px;
    right :170px
}
.box__4 strong {
    font-size: 30px;
    margin: 30px 0px;
}
.box__4 .box-logo {
    position: absolute;
    top:55px;
}
.box-service-img2{
    position: relative;
    right: -1010px;
    top:-215px;
    z-index: -2;
}
.box-service-img3{
    position: relative;
    right: 50px;
    top:-245px;
    z-index: -2;
}
.Product{
    position: relative;
    display: flex;
    align-items: center;
    top :-50px;
    left: 25px;
}
.Product-button{
    position: absolute;
    left :275px;
    top: 175px ;
}
.Product__text {
    position: relative;
    top :-90px;
    left: 10px;
    width: 65%;;
}
.Product__text strong{
    font-size: 40px;
    position: absolute;
    left :40px;
    top :25px;
}
.Product__text p{
    position: relative;
    top :105px;
    left :-140px; 
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 125px;   
}
.feedBack {
    align-items: center;
    text-align: center;
}
.feedBack strong{
    font-size: 35px;
}
.feedBack-2{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
}
.feedBack-text p{
    margin: 30px 0px;
}
.feedBack-text strong {
    font-size: 25px;
}
.newsletter{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 100px;
}
.newsletter img{
    width: 90%;
}
.newsletter-img{
    position: relative;
    left :-1080px;
    bottom: -85px;
    rotate:  90deg;
    z-index: -10;
}
.newsletter input{
    z-index: 1;
    padding-left: 20px;
    position: absolute;
    width: 400px;
    height: 45px;
    right: 240px;
    border-radius: 40px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    border-color: transparent;
    outline: none;
}
.newsletter button{
    z-index: 2;
    position: absolute;
    height: 35px;
    width: 150px;
    border-radius: 25px;
    border-color:transparent;
    background-color:rgb(6, 6, 246);
    right: 250px;
    color: aliceblue;
}
.newsletter-text{
    position: absolute;
    left :8\65px
}
.newsletter-text strong{
    font-size: 35px;
}
.newsletter-text p{
    color: grey;
}
.footer{
    margin: 70px 50px 20px 50px;
    display: flex;
    justify-content: space-between;
}
.footer ul{
    list-style-type: none;
}
.link-img{
    margin: 10px 40px;
}
.link-img img{
    margin-right: 20px;
}
.display-box{
    display: none;
    width: 250px;
    max-height: 250px;
    padding: 15px;
    position: fixed;
    left :25px;
    top :150px;
    background-color: aliceblue;
    border: 0.5px solid grey;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    z-index: 5;
    overflow-y: scroll;
}
.display-box::-webkit-scrollbar{
    display: none;
}
@media (max-width:1150px) {
    .content__text{
        visibility: hidden;
    }
    .box-content{
        display: none;
    }
    .box__1{
        position: absolute;
        left :40px;
    }
    .box__2{
        position: absolute;
        left :350px;
    }
    .box__3{
        position: absolute;
        left :40px;
    }
    .box__4{
        position: absolute;
        left :350px;
    }
    .box-service-img{
        visibility: hidden;
    }
    .box-service-img2{
        visibility: hidden;
    } .box-service-img3{
        visibility: hidden;
    }
}  
@media (max-width:820px) {
    .our-client__text{
        display: none;
    }
}